@import './base.scss';

.about {
  position: relative;
  background: $dark-gray;
  color: $white;
  top: 30%;
  padding: 1rem;
  overflow: hidden;
  padding-top: 5rem;
  &__header {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      .joel {
        border-radius: 10px;
      position: relative;
      background: $dark;
      box-shadow: 0 12px 15px $accent-bright, 0 20px 72px $accent-dark;
      &__curve {
        position: absolute;
        top: 30px;
        top: -10px;
        left: 20px;
        width: 33%;
        height: 120%;
        border-left: 2px solid $accent-bright;
        border-radius: 50%;
        transform: rotate(-20deg);
        box-shadow: 0 8px 32px 0 $light-gray;

    }
      &__infos {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        font-size: 0.8rem;
        // font-size: 1rem;
        padding: 1rem;

      }
      &__img {
        width: 80%;
        height: 100%;
        border-radius: 50%;
        border-right: 2px solid $accent-dark;
        @media (min-width: 400px) {
          & {
            width: 150px;
            height: 150px;
          }
        }
      }
      &__col {
        display: flex;
        flex-direction: column;
        gap: 5px;
      }
      &__info {
        display: flex;
        align-items: center;
        gap: 10px;
        & img {
          width: 20px;
          height: 20px;
          color: $white;
        }
      }
    }
  }
}